@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$header-height;
    background-color: v.$color-white;
    
}

